@use '../vars' as *;
nav {
	background: var(--nav-bg);
	padding: 0.7em;
	position: relative;
	transition: background 200ms ease-in-out;

	ul {
		display: flex;
		// align-items: center;
		li:not(:last-child) {
			margin-right: 0.5em;
		}
		li:last-child {
			margin: 0 4em 0 auto;
		}
	}
	.nav-item {
		display: block;
		padding: 0.4em;
		border-radius: 4px;
		transition: background 100ms ease-in-out;
		font-size: 1.2em;
		cursor: pointer;
		background: var(--nav-item-bg);

		&:hover {
			background: var(--nav-item-h);
			color: var(--nav-item-h-text);
			outline: 2px solid var(--nav-item-h);
		}
		& a {
			color: var(--text-color);
		}
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-shadow: 0 1px 5px 2px var(--bg-shade);
		z-index: -1;
	}
	.login-btn {
		padding: 0.4em 1em;
		background: var(--login-btn-bg);
		color: var(--login-btn-text);
		&:hover {
			background: var(--login-btn-h-bg);
			color: var(--login-btn-h-text);
		}
	}
}
