$main-font: 'Source Sans Pro', sans-serif;

$primary: hsl(266, 22%, 62%);
$primary-200: hsl(266, 16%, 50%);
$primary-300: #5d4e74;
$primary-400: #413257;

$secondary: #00755b;
$secondary-200: #006d64;
$secondary-300: #006468;
$secondary-400: #075b67;

$text-light: #d8dee9;
$text-dark: #3b4252;
