@use 'themes' as *;
@use 'vars' as *;
@use 'components/navbar';
@use 'components/loginForm';
@use 'components/grades';
@use 'components/loader';
@use 'components/plan';
@use 'components/menu';

*,
*::before,
*::after {
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-bg);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: #888787;
}
:root {
	font-size: 16px;
}
#app {
	background-color: var(--bg);
	height: 100%;
}

body,
html {
	height: 100%;
}
body {
	background: var(--bg);
	color: var(--text-color);
	font-family: $main-font;
	overflow: hidden;
	line-height: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

ul {
	margin: 0;
}

button {
	border: none;
}
